<!DOCTYPE html>
<html ng-app='Ekart'>
  <head>
    <title>Tutorial For You</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <%= render 'layouts/nav' %>
    </nav>
    <header>
        <%= render 'layouts/header' %>
    </header>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>

<script type="text/javascript">
  
// $(document).ready(function(){
//   $('.carousel').carousel({
//     interval: 2000
//   })
// });

</script>

  </body>
  <%= javascript_include_tag 'application' %>
</html>
