<!DOCTYPE html>
<html ng-app='Ekart'>
  <head>
    <title>Ekart</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <%= render 'layouts/header' %>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
